/* font sizes */

.fn-14 {
    -fx-font-size: 14px;
}
.fn-16 {
    -fx-font-size: 16px;
}
.fn-18 {
    -fx-font-size: 18px;
}
.fn-24 {
    -fx-font-size: 24px;
}
.fn-32 {
    -fx-font-size: 32px;
    -fx-font-family: AlArabiya;
}
.fn-48 {
    -fx-font-size: 48px;
}
.fn-64 {
    -fx-font-size: 64px;
}
/* text allignment */
.txt-center {
    -fx-text-alignment: center;
}
.txt-justify {
    -fx-text-alignment: justify;
}
.txt-left {
    -fx-text-alignment: left;
}
.txt-right {
    -fx-text-alignment: right;
}
/* fill color */
.fill-light-gray {
    -fx-fill: #ececec;
    -fx-text-fill: #ececec;
}
.fill-gray {
    -fx-fill: #9c9c9c;
    -fx-text-fill: #9c9c9c;
}
.fill-dark {
    -fx-fill: #4f5d55;
    -fx-text-fill: #4f5d55;
}
.fill-white {
    -fx-fill: #ffffff;
    -fx-text-fill: #ffffff;
}
/* background colors    */
.back-white {
    -fx-background-color: white;
}